.charge-cat-con
    .charge-cat-add 
         visibility hidden
         color: $white
.charge-cat-con:hover
    .charge-cat-add 
         visibility visible
.root
    flex-grow: 1
    .paper
        padding: 1rem
        text-align: 'center'
        color: $secondaryColor
        