
.margintb10 {
    margin: .5rem 0!important
}
.margintb20 {
    margin: 20px 0!important
}

.margintb1rem {
    margin: 1rem 0!important
}
.marginlr1rem {
     margin: 0 1rem!important
    }

.padding1rem {
    padding: 1rem
    }
.bottom-line {
    border-bottom: solid 1px $lightGrey;
}
.paddingtb1rem {
    padding: 1rem 0

    }
.paddinglr2rem {
    padding: 0 2rem

    }
.paddinglr1rem {
    padding: 0 1rem

    }

.width30 {
    width: 30%
    }
.width50 {
    width: 50%
    }
.width80 {
    width: 80%
    }
.width100 {
    width: 100%
    }
.bottom1rem {
    bottom: 1rem
    }
.bottom2rem {
    bottom: 2rem
    }
.border-box
    box-sizing: border-box