@import './variables';

.primary-btn {
    background: $primaryColor
    }
.warning-btn {
    background: $lightOrange
   
    }
.btn {
     color: #fff;
     margin: .2rem 1rem
    }
.close-btn {
     top 0 
     right 0
     height 2rem
     width: 2rem
     line-height: 2rem
     float right
     background $lightOrange
    //  margin: 1rem
     border-radius:0 0 0 80%
     color: $grey
     font-size: 1rem!important

    }