@import './variables';
.primary-color {
    color: $primaryColor
    }
.light-blue {
    color: $lightBlue
    }
.red-star {
    color:rgba(254,8,8,1);
    }
.warning-color {
    color: $warningColor
    }
.success-color {
    color: $successColor
    }