@import './variables';
.label 
    font-size:32px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    line-height:30px;
    color: #999

.selector-text 
    font-family: PingFangSC-Regular;
    font-size: 30px;
    color: #888888;
    line-height: 32px;

.icon 
    font-size: 1.2rem!important
.placeholder 
    color: $grey

.weight600
    font-weight: 600!important