.tran-scale{
    animation: scalable .2s ease-out
    }

@keyframes scalable {
    0%{ transform: scale(.8); }
    100%{ transform: scale(1); }
    }

.tran-yaxis{
    animation: yaxis .3s ease-in
    }

@keyframes yaxis {
    0%{ transform: translateY(100px); }
    100%{ transform: translateY(0); }
    }

.tran-fade{
    animation: fade .3s ease-in
    }

@keyframes fade {
    0%{ opacity:.5; }
    100%{ opacity:1; }
    }