
// @import '~@src/styles/variables'


$bodyBgColor = #f4f4f4

$primaryColor = #14d1b5
$secondaryColor = #15b7a0

$lightBlue = #3B8EF4
$lightOrange = #f89252
$successColor = #56ae58
$warningColor = #fe930f
$errorColor = #ea4541
$lightGrey = rgb(245, 239, 239)
$grey = #ccc

$lightPurple = #9029ac

$white = white
$fff = #fff
$bottomLine =  1px solid $lightGrey

$menuActiveItem = #00acc2
$menuWidth = 230px
$menuFoldWidth= 50px

$appBarHeight = 100px

$progerssZIndex = 9999